@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sulphur+Point:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

.header-logo-box {
    width: 500px;
    height: 100%;
}

.header-logo {
    width: 200px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.header-menu-item {
    list-style: none;
    margin: 0 auto;
}

.header-menu-item-a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 560px;
}

.main-image {
    width: 500px;
    height: 100%;
    border-radius: 20px;

    object-fit: cover;
}

.main-contents {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-contents-box {
    background-color: #CEFFBD;
    border-radius: 20px;
    padding: 30px;
    height: 85%;
}

.main-contents-title {
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.main-contents-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-button {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #6EA66C;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-button:hover {
    background: #CEFFBD;
    color: #000000;
}

.primary-section {
    align-items: center;
    width: 90%;
    margin: 40px auto;
}

.primary-section-title {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-left: 60px;
}

.primary-section-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 560px;
    margin: 40px auto;
}

.primary-section-contents-image {
    border-radius: 20px;
    width: 500px;
    height: 100%;

    object-fit: cover;
}

.primary-section-contents-image-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.primary-section-contents-image-block-img-one {
    width: 500px;
    height: 48%;
    border-radius: 20px;

    object-fit: cover;
}

.primary-section-contents-image-block-img-two {
    width: 500px;
    height: 48%;
    border-radius: 20px;

    /* Organiza a imagem no espaço determinado  */
    object-fit: cover;
}

.primary-section-button {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #6EA66C;
    color: #6EA66C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #FFFFFF;

    display: block;
    margin: 20px auto;
}

.primary-section-button:hover {
    border: 1px solid #000000;
    color: #000000;
}
/*  */
.secundary-section {
    align-items: center;
    width: 90%;
    margin: 40px auto;
}

.secundary-section-title {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.secundary-section-contents {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.secundary-section-contents-image {
    width: 300px;
    border-radius: 20px;
}

.footer {
    padding: 32px;
    border-top: 0.4px solid #000000;
}

.footer-image {
    height: 70px;
    display: block;
    margin: 0 auto;
}