@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sulphur+Point:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 30px auto 0;
    width: 80%;
}

.header-logo-box {
    width: 500px;
    height: 100%;
}

.header-logo {
    width: 200px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.header-menu-item {
    list-style: none;
    margin: 0 auto;
}

.header-menu-item-a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 620px;

    margin: 30px auto 0;
    width: 80%;
}

.main-image {
    width: 500px;
    height: 100%;
    border-radius: 20px;

    object-fit: cover;
}

.main-contents {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-contents-box {
    background-color: #CEFFBD;
    border-radius: 20px;
    padding: 30px;
    height: 85%;
}

.main-contents-title {
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.main-contents-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-button {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #6EA66C;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.main-button:hover {
    background: #CEFFBD;
    color: #000000;
}

.primary-section {
    align-items: center;

    margin: 30px auto 0;
    width: 80%;
}

.primary-section-title {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    font-size: 40px;

    margin-bottom: 30px;
}

.primary-section-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 560px;
}

.primary-section-contents-image {
    border-radius: 20px;
    width: 500px;
    height: 100%;

    object-fit: cover;
}

.primary-section-contents-image-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.primary-section-contents-image-block-img-one {
    width: 500px;
    height: 48%;
    border-radius: 20px;

    object-fit: cover;
}

.primary-section-contents-image-block-img-two {
    width: 500px;
    height: 48%;
    border-radius: 20px;

    /* Organiza a imagem no espaço determinado  */
    object-fit: cover;
}

.primary-section-button {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #6EA66C;
    color: #6EA66C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #FFFFFF;

    display: block;
    margin: 40px auto;
}

.primary-section-button:hover {
    border: 1px solid #000000;
    color: #000000;
}
/*  */
.secundary-section {
    align-items: center;

    margin: 30px auto 0;
    width: 80%;
}

.secundary-section-title {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

    margin-bottom: 30px;
}

.secundary-section div  {
    height: 500px;
    width: 100%;
}

.secundary-section-contents {
    height: 100%;
    width: 100%;
    position: relative;
}

.secundary-section-contents div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;

    opacity: 0;
}

.secundary-section-contents div img {
    width: 350px;
    height: 100%;
    border-radius: 20px;

    object-fit: cover;
}

div.selected {
    opacity: 1;
}

.secundary-section-contents-button {
    display: block;
    margin: 20px 0 20px 95%;
    border: none;
    background-color: #FFFFFF;
}

.secundary-section-contents-button img{
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
}

.secundary-section-contents-button img:hover{
    opacity: 0.5;
}

.footer {
    padding: 32px;
    border-top: 0.4px solid #000000;
}

.footer-image {
    height: 70px;
    display: block;
    margin: 0 auto;
}